<launch>
  <!--
    ###################
    ## Configuration ##
    ###################
  -->
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='town' default='Town01'/>

  <arg name='agent' default='agent'/>

  <arg name='role_name' default='ego_vehicle'/>
  <!-- use comma separated format "x,y,z,roll,pìtch,yaw" -->
  <arg name='spawn_point' default=''/>
  <arg name='synchronous_mode' default='True'/>

  <arg name='sensor_definition_file' default='$(find carla_autoware_agent)/$(arg agent)/config/sensors.json'/>

  <!-- vehicle info -->
  <arg name='vehicle_model' default='vehicle.toyota.prius'/>
  <arg name='vehicle_length' default='4.54'/>
  <arg name='vehicle_width' default='2.00'/>
  <arg name='vehicle_wheelbase' default='2.7'/>

  <arg name='use_ground_truth_localization' default='false'/>
  <arg name='use_ground_truth_detections' default='false'/>
  <arg name='use_manual_control' default='false'/>

  <!--
    ###########################
    ## CARLA Autoware bridge ##
    ###########################
  -->
  <include file='$(find carla_autoware_bridge)/launch/carla_autoware_bridge.launch'>
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='vehicle_filter' value='$(arg vehicle_model)'/>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name='spawn_point' value='$(arg spawn_point)'/>
    <arg name='sensor_definition_file' value='$(arg sensor_definition_file)'/>
    <arg name='use_manual_control' value='$(arg use_manual_control)'/>
  </include>

  <!--
    ##################
    ## Agent bridge ##
    ##################
  -->
  <include file='$(find carla_autoware_agent)/$(arg agent)/bridge.launch'>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name='wheelbase' value='$(arg vehicle_wheelbase)'/>
  </include>

  <!--
    ####################
    ## Image error    ##
    ####################
  -->
  <include file='$(find image_error_injection)/launch/error_injection.launch'>
  </include>

  <!--
    ####################
    ## set goal       ##
    ####################
  -->
  <arg name="my_goal" default="'{header: {seq: 0, stamp: {secs: 0, nsecs: 0}, frame_id: ''}, pose: {position: {x: 300.0, y: -132.0, z: 0.0}, orientation:{x: 0.0, y: 0.0, z: 0.0, w: 1.0}}}'"/>
  <node pkg='rostopic' type='rostopic' name='set_goal'
        args="pub /move_base_simple/goal geometry_msgs/PoseStamped $(arg my_goal)"/>
<!--
    ####################
    ## rosbag       ##
    ####################
  -->
  <node pkg="rosbag" type="record" name="rosbag_noisefree"
       args="record -O experiment_bag -e /ground_truth_bbox_cam /ground_truth_bbox_lidar /detection/(.*)/objects /image_(.*) /lidar_(.*) /carla/ego_vehicle/(.*)  /semantics/costmap_generator/occupancy_grid /points_no_ground_(.*)"/>

  <!--
    ###################
    ## Visualization ##
    ###################
  -->
  <arg name='rvizconfig' default='$(find carla_autoware_agent)/$(arg agent)/rviz/config.rviz'/>
  <node name='rviz' pkg='rviz' type='rviz' args='-d $(arg rvizconfig)'/>

</launch>
